<?xml version="1.0" encoding="utf-8" ?>  
<configuration>   
  <appSettings>
    <add key="TimeZoneId" value="Europe/Vienna" />
    <add key="GTD.AllowIncompleteMappingIfMoreThanOneItem" value="true" />
    <add key="GTD.PreferenceFilePath" value="/home/workspace/openproject/preferences.xml" />
  </appSettings>  
</configuration>